* {
  margin: 0px;
  padding: 0px;
}
h1 {
  display: flex;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 23px;
  margin-left: 43%;
}

#sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  background: rgb(2, 2, 145);
  left: -300px;
  transition: 0.4s;
  text-decoration: none;
  box-shadow: 5px 5px 10px 5px rgba(0, 255, 255, 0.7);
}

#sidebar i {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding: 26px 24px;
  justify-content: center;
  text-decoration: none;
  color: white;
}
#sidebar a {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
#sidebar ul {
  margin-top: 12%;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  left: 330px;
  margin-top: 20px;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
}

#sidebar.active {
  left: 0;
}

#sidebar a:hover {
  padding-bottom: 5px;

  color: white;
}

table {
  display: flex;
  margin-left: 26%;
  border-style: solid;
  max-width: 750px;
  margin-top: 5%;
}

td,
th {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

th {
  border-style: solid;
  width: 300px;
  background-color: rgba(92, 92, 92, 0.644);
  border-width: 1px;
  margin: 2px;
}
td {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  margin-top: 4px;
}

td:hover {
  font-size: 17px;
  text-decoration: underline;
}
