* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #cad0d2;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  display: flex;
  position: absolute;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  background-color: #262828;
  left: 0;
  right: 0;
  padding: 20px;
  color: rgb(255, 255, 255);
}

#sidebar {
  position: absolute;
  width: 250px;
  height: 100%;
  background: #333434;
  left: -300px;
  transition: 0.4s;
  text-decoration: none;
  box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 0.534);
}

#sidebar i {
  display: flex;
  list-style: none;
  font-size: 20px;
  padding: 26px 24px;
  justify-content: center;
  text-decoration: none;
  color: white;
}
#sidebar a {
  display: flex;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
#sidebar ul {
  margin-top: 12%;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  left: 330px;
  margin-top: 20px;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: #ffffff;
  display: block;
  margin-top: 4px;
}

#sidebar.active {
  left: 0;
}

#sidebar a:hover {
  padding-bottom: 5px;

  color: white;
}

table {
  display: flex;
  margin-left: 30%;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  height: 240px;
  margin-top: 5%;
  background-color: white;
}

th {
  display: flex;
}

td,
th {
  display: flex;
  padding: 10px;
  flex-direction: row;
  font-size: 15px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
